<header class="bg-[#130f30] shadow-md text-white">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 flex items-center justify-between h-24 mx-auto max-w-screen-lg">
    <div class="flex space-x-4 text-xl font-bold items-center uppercase">
      <img src="/logo.svg" alt="Logo" class="w-12 h-12 " />
      <a href="#">Cool Pump Co.</a>
    </div>
    <nav class="space-x-4 hidden md:flex">
      <a href="#" class=" hover:text-blue-300 transition">Home</a>
      <a href="#" class=" hover:text-blue-300 transition">Overview</a>
      <a href="#" class=" hover:text-blue-300 transition">Dashboard</a>
      <a href="#" class=" hover:text-blue-300 transition">Sign Out</a>
    </nav>
    <button class="md:hidden text-gray-600 hover:text-blue-500">
      <!-- Simple Hamburger Icon -->
      <svg class="w-6 h-6" fill="none" stroke="currentColor" stroke-width="2"
           viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round"
              d="M4 6h16M4 12h16M4 18h16"></path>
      </svg>
    </button>
  </div>
</header>
