<main class="max-w-screen-lg mx-auto py-12 px-4">
  <div class="flex flex-col md:flex-row">
    <h1 class="text-3xl font-semibold">Ventilation Pump Overview</h1>
    <div class="md:ml-auto pt-4 md:pt-0">
      <button class="text-blue-700 md:text-lg font-medium cursor-pointer" (click)="showCreatePumpModal = !showCreatePumpModal"> <i class="fas fa-plus mr-1 text-base"></i>Create new pump</button>
    </div>
  </div>
  <div class="flex flex-col md:flex-row gap-4 my-4">
    <div class="md:w-1/2 relative">
      <i class="fas fa-search absolute left-3 top-1/2 transform -translate-y-1/2 text-gray-600 pointer-events-none"></i>
      <input
        type="text"
        placeholder="Search pump number"
        class="p-2 pl-10 bg-white rounded-full w-full ring-0 focus:ring-0 outline-none"
        [(ngModel)]="searchQuery"
        (ngModelChange)="onSearchQueryChange()"
      />
    </div>
    <div class="md:w-1/4 relative">
      <app-filter
        [options]="areas"
        [selectedOption]="selectedArea"
        placeholder="Area"
        (optionSelected)="selectFilter('area', $event)"
      ></app-filter>
    </div>
    <div class="md:w-1/4 relative">
      <app-filter
        [options]="status"
        [selectedOption]="selectedStatus"
        placeholder="Status"
        (optionSelected)="selectFilter('status', $event)"
      ></app-filter>
    </div>
  </div>

  <div class="pump-list">
    <app-pump-row
      *ngFor="let pump of pumps; trackBy: trackByPumpId"
      [pump]="pump"
      class="p-4"
      [@listAnimation]
      (statusChanged)="changePumpStatus($event)"
    ></app-pump-row>
    <div class=" space-x-2 text-center">
      <app-button
        label="Previous page"
        class="w-full mt-4"
        [ngClass]="page === 1 ? 'hidden' : ''"
        (clicked)="previousPage()"
      ></app-button>
      <div class="border inline-block p-2 rounded bg-white"> {{page}}</div>
      <app-button
        label="Next page"
        class="w-full mt-4"
        [ngClass]="pages <= page ? 'hidden' : ''"
        (clicked)="nextPage()"
      ></app-button>
    </div>
  </div>
  <app-create-pump-modal
    *ngIf="showCreatePumpModal"
    (pumpCreated)="addPump($event)"
    (closeModal)="closeModal()"
  ></app-create-pump-modal>

</main>
